{
  "_comment": "Copyright (2020) Hewlett Packard Enterprise Development LP",
  "builders": [
    {
      "CPUs": 2,
      "RAM": 4096,
      "boot_command": [
        "<enter><wait><f6><wait><esc><wait>",
        "<bs><bs><bs><bs><bs><bs><bs><bs><bs><bs>",
        "<bs><bs><bs><bs><bs><bs><bs><bs><bs><bs>",
        "<bs><bs><bs><bs><bs><bs><bs><bs><bs><bs>",
        "<bs><bs><bs><bs><bs><bs><bs><bs><bs><bs>",
        "<bs><bs><bs><bs><bs><bs><bs><bs><bs><bs>",
        "<bs><bs><bs><bs><bs><bs><bs><bs><bs><bs>",
        "<bs><bs><bs><bs><bs><bs><bs><bs><bs><bs>",
        "<bs><bs><bs><bs><bs><bs><bs><bs><bs><bs>",
        "<bs><bs><bs>",
        "/install/vmlinuz",
        " initrd=/install/initrd.gz",
        " priority=critical",
        " locale=en_US",
        " file=/media/{{ packer_template }}.preseed.static.cfg",
        "<enter>"
      ],
      "cluster": "{{ vcenter_cluster }}",
      "convert_to_template": true,
      "datacenter": "{{ datacenter }}",
      "datastore": "{{ datastore }}",
      "disk_controller_type": "pvscsi",
      "floppy_files": [
        "{{ install_dir }}/{{ packer_template }}.preseed.static.cfg"
      ],
      "folder": "{{ admin_folder }}",
      "guest_os_type": "ubuntu64Guest",
      "insecure_connection": "true",
      "iso_checksum": "{{ packer_iso_checksum }}",
      "iso_urls": "{{ packer_iso_urls }}",
      "network_adapters": [
        {
          "network": "{{ vm_portgroup }}",
          "network_card": "vmxnet3"
        }
      ],
      "password": "{{ '{{' }}user `vcenter_password`{{ '}}' }}",
      "ssh_password": "ThisIsATemporaryPassword",
      "ssh_username": "{{ ansible_user }}",
      "storage": [
        {
          "disk_size": 8192,
          "disk_thin_provisioned": true
        }
      ],
      "type": "vsphere-iso",
      "username": "{{ vcenter_username }}",
      "vcenter_server": "{{ vcenter_hostname }}",
      "vm_name": "{{ packer_template }}",
      "vm_version": 15
    }
  ],
  "provisioners": [
    {
      "environment_vars": [
        "DEBIAN_FRONTEND=noninteractive",
        "UPDATE=true",
        "DISABLE_IPV6=true",
{% if proxy is defined %}
        "http_proxy={{ proxy.http }}",
        "https_proxy={{ proxy.https }}",
        "no_proxy={{ proxy.except }}",
{% endif %}
        "SSH_USERNAME={{ ansible_user }}",
        "SSH_PASSWORD=ThisIsATemporaryPassword"
      ],
      "execute_command": "echo 'ThisIsATemporaryPassword'|{{ '{{' }}.Vars{{ '}}' }} sudo -E -S bash '{{ '{{' }}.Path{{ '}}' }}'",
      "expect_disconnect": true,
      "scripts": [
        "{{ install_dir }}/{{ packer_template }}.post-provisioner.sh"
      ],
      "type": "shell"
    }
  ],
  "variables": {
    "vcenter_password": ""
  }
}
